.wishlist-container {
    position: relative;
}

.cart-content {
    position: absolute;
    top: 100%;
    z-index: 1;
    right: 0px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    padding: 10px;
    width: 150px;
    margin-top: 10px;
}

.cart-title {
    position: relative;
    font-size: 24px;
    margin-bottom: 10px;

    &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -5px;
        width: 100%;
        height: 2px;
        background-color: #000;  // Change color as needed
    }
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
}
