@font-face {
    font-family: Myriad;
    src: url('https://fonts.cdnfonts.com/css/myriad-pro');
}

/* Navbar styles */
* {
    margin: 0;
    padding: 0;
}

#navbar {
    position: fixed;
    top: 0;
    width: 100%;
    transition: transform 0.3s ease; // Add transition for smooth sliding effect
    z-index: 5;
    // Additional styles for the navbar
  }

body {
    overflow-x: hidden; /* Prevent horizontal scrolling */
    font-family: 'Myriad', sans-serif;
}

nav {
    background-color: green;
    display: flex;
    justify-content: left;
    align-items: center;
    font-family: 'Myriad', sans-serif;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); /* Darker shadow */
}

.logo {
    height: 100px;
    width: auto;
    padding: 10px;
    padding-right: 100px;
}

#buttons-container {
    display: flex;
    align-items: center;
    gap: 10px;
    position: absolute; /* Position absolutely */
    right: 0; /* Align to the right */
    top: 20; /* Align to the top */
    margin-right: 50px; /* Add some margin from the right edge */
}


.menu-button {
    background-color: transparent;
    width: 80px;
    height: 80px;

    &:hover {
        cursor: pointer;
    }
}

.flyout-container {
    position: relative;
    border-radius: 0%;
    left: 20px;
}



.icon {
    height: 40px;
    width: auto;
}


#links-container {
    display: flex;
    justify-content: left;
    align-items: center;
}

.button-title {
    color: white;
    text-align: center;
    display: block;
    margin-top: 1px; /* Adjust as needed */
}

.link {
    text-decoration: none;
    color: white;
    padding: 10px;
    font-size: 20px;

    &:hover {
        text-decoration: underline;
        cursor: pointer;
    }
}


.notification-bubble {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: red;
    color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: bold;
}
