.content {
    margin-top: 150px; /* Adjust as needed */
    padding: 20px;
    justify-content: left;
}

.view-file {
    color: blue;
    text-decoration: underline;
    cursor: pointer;

    &:hover {
        color: darkblue; /* Change to the desired darker blue color */
    }

}