.content {
    margin-top: 150px; /* Adjust as needed */
    padding: 20px;
}

.modal {
    
    position: fixed;
    left: 50px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    width: 50%;
    height: 50%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay */
    display: flex;
    justify-content: center;
    align-items: center;
    
}
